<div class="center">
<h1>Welcome to GovTwits</h1>
	
<h2>Home to the latest news on U.S. regulatory and legislative initiatives from Washington insiders.</h2>

<h2>GovTwits will enter public beta in December 2012. Submit your email to receive a private invitation to the beta.</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>

</div>